body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
    display: block;
}

nav ul li a:hover{
    color: bisque;
    font-size: large;
    transform: rotate(10deg);
}

#rice-pic{
    width: max-content;
    height:max-content;
}

#noodle-pic {
    width:fit-content;
    height: 500px;
}

#background-pic{
    width:100%;
}
.dropdown-content{
    overflow: hidden;
    color: wh;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }